<div class="container">
  <p>
    <mat-toolbar>
      <button mat-button>MaxMail</button>
      <span class="spacer"></span>
      <div>
        <button mat-button (click)="redirectToCampaignsPage()">
          Campaigns
        </button>
        <button mat-button (click)="redirectToDropsPage()">Drops</button>
        <button mat-button (click)="redirectToHiatusDatesPage()">
          Hiatus-Dates
        </button>

        <button mat-button>Contacts</button>
        <button mat-button>Companies</button>
        <button mat-button (click)="redirecttoUsersList()">Users</button>
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle </mat-icon>
          <span *ngIf="user$ | async as user">{{ user.displayName }}</span>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </p>
</div>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="redirectToProfilePage()">Profile</button>
  <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>
