<div class="container">
  <h1 style="margin-bottom: 40px">New Drop</h1>
  <mat-divider style="margin-bottom: 40px"></mat-divider>
  <form [formGroup]="dropForm">
    <div class="main-form-div">
      <div class="part-one" style="margin-right: 40px">
        <!----------------------------------------------------->
        <mat-form-field appearance="outline">
          <mat-label>Campaign Number</mat-label>
          <input
            matInput
            placeholder="Mailer Campaign Number"
            formControlName="campaignNumber"
          />
        </mat-form-field>
        <!----------------------------------------------------->
        <mat-form-field appearance="outline">
          <mat-label>Mailer Campaign Name</mat-label>
          <input
            matInput
            placeholder="Mailer Campaign Name"
            formControlName="campaignName"
          />
        </mat-form-field>

        <!------------------------------------------------------>
        <mat-form-field appearance="outline">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-label>Drop Date </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Drop Date"
            formControlName="dropDate"
          />
          <mat-datepicker #picker> </mat-datepicker>
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-label>Seeded Received date </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Seeded Received"
            formControlName="dropDate"
          />
          <mat-datepicker #picker> </mat-datepicker>
        </mat-form-field>
        <!-- ############################################################################################################ -->
      </div>
      <div class="part-two">
        <mat-form-field appearance="outline">
          <mat-label>Drop Number</mat-label>
          <input
            matInput
            placeholder="Drop Number"
            formControlName="dropNumber"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Drop Volume</mat-label>
          <input
            matInput
            type="number"
            placeholder="Drop Volume"
            formControlName="dropVolume"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <div class="checkbox" style="display: inline-block">
          <p>
            <mat-checkbox
              formControlName="isDropCompleted"
              [disableRipple]="true"
            >
              Drop Completed</mat-checkbox
            >
          </p>
          <p>
            <mat-checkbox formControlName="isLastDrop" [disableRipple]="true"
              >Is Last Drop</mat-checkbox
            >
          </p>
        </div>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Notes & Attachments </mat-label>
          <button
            mat-icon-button
            color="primary"
            style="position: absolute; right: 0; bottom: 19%"
          >
            <mat-icon matSuffix>upload</mat-icon>
          </button>
          <input
            matInput
            placeholder="Notes & Attachments"
            formControlName="attachments"
          />
        </mat-form-field>
      </div>
      <!-- ############################################################################################################ -->
      <div>
        <app-file-upload-library></app-file-upload-library>
      </div>
      <!-- ############################################################################################################ -->
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <button
      class="close-button"
      mat-raised-button
      color="warm"
      mat-dialog-close
    >
      Cancel
    </button>
    <button
      class="action-button"
      style="margin-left: 8px"
      mat-raised-button
      (click)="addDrop()"
    >
      {{ actionButton }}
    </button>
  </div>
</div>
