<div class="container">
  <div *ngIf="editMode; else new">
    <h2>
      Drop {{ editMode.dropNumber }} :
      {{ editMode.dropDate | date : "MM/dd/YYYY" }}
    </h2>
    <h4>Contact Name : {{ editMode.accountName }}</h4>
    <h4>Company Name : {{ editMode.contactName }}</h4>
  </div>
  <ng-template #new> <h2>New Drop</h2> </ng-template>
  <mat-divider style="margin-bottom: 40px"></mat-divider>
  <form [formGroup]="dropForm">
    <div class="main-form-div">
      <div class="part-one" style="margin-right: 40px">
        <!----------------------------------------------------->
        <mat-form-field appearance="outline">
          <mat-label>Campaign Number</mat-label>
          <input
            matInput
            placeholder="Mailer Campaign Number"
            formControlName="campaignNumber"
          />
        </mat-form-field>
        <!----------------------------------------------------->
        <mat-form-field appearance="outline">
          <mat-label>Mail Campaign</mat-label>
          <mat-select formControlName="campaignName">
            <mat-option
              *ngFor="let campaign of campaigns$ | async as Campign"
              value="{{ campaign.campaignID }}"
              >{{ campaign.campaignName }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <!------------------------------------------------------>
        <mat-form-field appearance="outline">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-label>Drop Date </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Drop Date"
            formControlName="dropDate"
          />
          <mat-datepicker #picker> </mat-datepicker>
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-label>Seeded Received date </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Seeded Received"
            formControlName="dropDate"
          />
          <mat-datepicker #picker> </mat-datepicker>
        </mat-form-field>
        <!-- ############################################################################################################ -->
      </div>
      <div class="part-two">
        <mat-form-field appearance="outline">
          <mat-label>Drop Number</mat-label>
          <input
            matInput
            placeholder="Drop Number"
            formControlName="dropNumber"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Drop Volume</mat-label>
          <input
            matInput
            type="number"
            placeholder="Drop Volume"
            formControlName="dropVolume"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <div class="checkbox" style="display: inline-block">
          <p>
            <mat-checkbox
              formControlName="isDropCompleted"
              [disableRipple]="true"
            >
              Drop Completed</mat-checkbox
            >
          </p>
          <p>
            <mat-checkbox formControlName="isLastDrop" [disableRipple]="true"
              >Is Last Drop</mat-checkbox
            >
          </p>
        </div>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Notes & Attachments </mat-label>
          <button
            mat-icon-button
            color="primary"
            style="position: absolute; right: 0; bottom: 19%"
          >
            <mat-icon matSuffix>upload</mat-icon>
          </button>
          <input
            matInput
            placeholder="Notes & Attachments"
            formControlName="attachments"
          />
        </mat-form-field>
      </div>
      <!-- ############################################################################################################ -->
      <div>
        <app-file-upload-library></app-file-upload-library>
      </div>
      <!-- ############################################################################################################ -->
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <button
      class="close-button"
      mat-raised-button
      color="warm"
      mat-dialog-close
    >
      Cancel
    </button>
    <button
      class="action-button"
      style="margin-left: 8px"
      mat-raised-button
      (click)="addDrop()"
    >
      {{ actionButton }}
    </button>
  </div>
</div>
