td,
th {
  width: 23%;
}

.demo-button + .demo-button {
  margin-right: 8px;
}

.demo-button-container {
  padding-bottom: 16px;
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #343744;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 1px;
}

.container .page-title {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-size: large;
  line-height: 36px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0 40px 0;
}

.table-container {
  overflow-y: auto;
  height: 600px;
  white-space: nowrap;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.column-header {
  font-size: large;
  color: black;
}

td .mat-cell {
  max-width: 100px;
}

.mat-column {
  width: 100px;
}

.mat-header-cell {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: large;
  line-height: 24px;
  color: #343744;
  z-index: 5000;
}

.table-container th {
  width: 60%;
}
