table {
  width: 100%;
}

.container .page-title {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0 40px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-left: 20px;
}

td,
th {
  width: 23%;
}

.demo-button + .demo-button {
  margin-right: 8px;
}

.demo-button-container {
  padding-bottom: 16px;
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 10px;
}
