.container {
  display: flex;
  padding: 20px;
  /* margin: 40px; */
  margin-left: 40px;
  margin-top: 80px;
}

.statuses {
  width: 700px;
  height: 900px;
}

.todays-drops {
  width: 700px;
  height: 900px;
}

.recent-campaigns {
  width: 700px;
  height: 900px;
}

.upcoming-drops {
  width: 700px;
  height: 900px;
}
