.container {
  display: flex;
  padding: 60px;
  margin-left: 20px;
}
.statuses {
  width: 600px;
  height: 900px;
}
.todays-drops {
  width: 700px;
  height: 900px;
}

.recent-campaigns {
  width: 700px;
  height: 900px;
}

.upcoming-drops {
  width: 700px;
  height: 900px;
}
