<div class="wrapper">
  <div class="margin-left">
    <div mat-dialog-content style="margin-top: 20px">
      <form [formGroup]="campaignForm" (ngSubmit)="save()">
        <mat-form-field style="width: 300px">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="First Drop Date"
            formControlName="firstDropDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Campaign Status"
            formControlName="campaignStatus"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Campaign Type"
            formControlName="campaignType"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="First Drop Volume"
            formControlName="firstDropVolume"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Total number of Drops"
            formControlName="totalDropsNumber"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Mailer Size"
            formControlName="mailerSize"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Total Households"
            formControlName="totalHouseholds"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Total Contract Amount"
            formControlName="totalcontractAmount"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Print Order ID"
            formControlName="printOrderID"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Account Name"
            formControlName="accountName"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Owner Name"
            formControlName="ownerName"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Contact Name"
            formControlName="contactName"
          />
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <input
            matInput
            placeholder="Notes & Attachments"
            formControlName="attachments"
          />
        </mat-form-field>
        <div class="margin-top">
          <button type="submit" mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
