.mat-form-field {
  width: 300px;
  display: inline;
}

.form-container {
  background-color: whitesmoke;
  padding: 48px;
  border-radius: 16px;
  margin: auto;
  overflow: hidden;
}

.main-form-div {
  display: flex;
  /* flex-direction: row; */
  gap: 10px;
  background: whitesmoke;
  border-radius: 4px;
  padding: 30px;
}

.action-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15.3647px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #0177fd;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0177fd;
  width: 119px;
  height: 44px;
  border-radius: 10px;
}

.close-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15.3647px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #798ba3;
  background: #ffffff;
  border: 1px solid #0177fd;
  width: 119px;
  height: 44px;
  border-radius: 10px;
}

.demo-button-container {
  box-sizing: border-box;
  position: absolute;
  width: 113px;
  height: 44px;
  left: 995px;
  top: 67px;
  border: 1px solid #eff2f7;
  border-radius: 8px;
}

.library {
  box-sizing: border-box;

  left: 73.45%;
  right: 5.74%;
  top: 21%;
  bottom: 16.36%;
  width: 200px;

  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 12px;
  border: 1px solid black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  color: #343744;
  margin-left: 100px;
}

.library-title {
  background-color: #e5f1ff;
  display: inline-block;
  height: 30px;
  width: 197px;
  border-radius: 12px;
  text-align: center;
  padding-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #343744;
}

.part-two {
  margin-left: 80px;
}
