<div class="form-container mat-elevation-z5">
  <h1 mat-dialog-title>Campaign Form</h1>
  <div class="mat-dialog-content">
    <form [formGroup]="campaignForm">
      <mat-form-field appearance="outline">
        <mat-label>Campaign Name</mat-label>
        <input
          matInput
          placeholder="Campaign Name"
          formControlName="campaignName"
        />
        <mat-error *ngIf="campaignName?.errors?.['required']">
          Campaign name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="First Drop Date"
          formControlName="firstDropDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker> </mat-datepicker>
        <mat-error *ngIf="firstDropDate?.errors?.['required']">
          First Drop Date is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Campaign Status</mat-label>
        <mat-select formControlName="campaignStatus">
          <mat-option value="active">Active</mat-option>
          <mat-option value="suspended">suspended</mat-option>
          <mat-option value="cancelled">cancelled</mat-option>
          <mat-option value="completed">completed</mat-option>
        </mat-select>
        <mat-error *ngIf="campaignStatus?.errors?.['required']">
          Campaign Status required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Campaign Type</mat-label>
        <mat-select formControlName="campaignType">
          <mat-option value="mailer">Mailer</mat-option>
          <mat-option value="postcard">Postcard</mat-option>
          <mat-option value="magazine">Magazine</mat-option>
        </mat-select>
        <mat-error *ngIf="campaignType?.errors?.['required']">
          Campaign Type is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>First Drop Volume</mat-label>
        <input
          matInput
          placeholder="First Drop Volume"
          formControlName="firstDropVolume"
        />
        <mat-error *ngIf="firstDropVolume?.errors?.['required']">
          First Drop Volume is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total number of Drops</mat-label>
        <input
          matInput
          placeholder="Total number of Drops"
          formControlName="totalDropsNumber"
        />
        <mat-error *ngIf="totalDropsNumber?.errors?.['required']">
          Total Drops Number is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total Campaign Volume</mat-label>
        <input
          matInput
          placeholder="Total Campaign Volume"
          formControlName="totalCampaignVolume"
        />
        <mat-error *ngIf="totalCampaignVolume?.errors?.['required']">
          Total Campaign Volume is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mailer Size</mat-label>
        <mat-select formControlName="mailerSize">
          <mat-option value="8.5 x 17">8.5 x 17</mat-option>
          <mat-option value="10 x 18">10 x 18</mat-option>
          <mat-option value="5.5 x 8.5">5.5 x 8.5</mat-option>
          <mat-option value="6 x 11">6 x 11</mat-option>
          <mat-option value="8.5 x 14">8.5 x 14</mat-option>
          <mat-option value="8.5 x 11">8.5 x 11</mat-option>
          <mat-error *ngIf="mailerSize?.errors?.['required']">
            Mailer Size is required</mat-error
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total Households</mat-label>
        <input
          matInput
          placeholder="Total Households"
          formControlName="totalHouseholds"
        />
        <mat-error *ngIf="totalHouseholds?.errors?.['required']">
          totalHouseholds is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total Contract Amount</mat-label>
        <input
          matInput
          placeholder="Total Contract Amount"
          formControlName="totalcontractAmount"
        />
        <mat-error *ngIf="totalcontractAmount?.errors?.['required']">
          total contract Amount is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Print Order ID</mat-label>

        <input
          matInput
          placeholder="Print Order ID"
          formControlName="printOrderID"
        />
        <mat-error *ngIf="printOrderID?.errors?.['required']">
          printOrderID is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Account Name</mat-label>

        <input
          matInput
          placeholder="Account Name"
          formControlName="accountName"
        />
        <mat-error *ngIf="accountName?.errors?.['required']">
          Account Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Owner Name</mat-label>
        <input matInput placeholder="Owner Name" formControlName="ownerName" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contact Name</mat-label>
        <input
          matInput
          placeholder="Contact Name"
          formControlName="contactName"
        />
        <mat-error *ngIf="contactName?.errors?.['required']">
          Contact Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Notes & Attachments</mat-label>
        <input
          matInput
          placeholder="Notes & Attachments"
          formControlName="attachments"
        />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="warm"
      mat-dialog-close
      style="background-color: coral"
    >
      Close
    </button>
    <button
      style="margin-left: 8px"
      mat-raised-button
      color="primary"
      (click)="addCampaign()"
    >
      {{ actionButton }}
    </button>
  </div>
</div>
