<mat-toolbar class="mat-elevation-z4">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close</mat-icon>
  </button>
  <div>
    <img src="../../../../assets/images/NPILogo.png" alt="" title="N" />
    <span> New Patients Inc.</span>
  </div>

  <div>
    <ng-container *ngIf="user$ | async as user; else loginButton">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ user.displayName }}
        <mat-icon>expand_more</mat-icon>
      </button>
    </ng-container>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="openProfile()">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" routerLink="/home/dashboard">
      <mat-icon>insert_chart_outlined</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home/users">
      <mat-icon>contacts</mat-icon>
      <span>Users</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home/hiatus-dates">
      <mat-icon>today</mat-icon>
      <span>Hiatus Dates</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home/campaigns">
      <mat-icon>mail</mat-icon>
      <span>Mail Campaigns</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home/drops">
      <mat-icon>list_alt</mat-icon>
      <span>Drops</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home/calendar">
      <mat-icon>date_range</mat-icon>
      <span>Mail Drop Calendar</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home/zip-codes">
      <mat-icon>search</mat-icon>
      <span>Zip Code Lookup</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
