.active {
  color: blue;
  text-align: center;
  font-size: larger;
  margin-top: 20%;
}

.completed {
  color: green;
  text-align: center;
  font-size: larger;
  margin-top: 20%;
}

.suspended {
  color: red;
  text-align: center;
  font-size: larger;
  margin-top: 20%;
}

.cancelled {
  color: orange;
  text-align: center;
  font-size: larger;
  margin-top: 20%;
}

.title {
  text-align: center;
}
