/* mat-toolbar {
  justify-content: space-between;
} */

html,
body {
  background-image: url("../assets/images/Direct-mail-marketing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

content {
  padding: 50px;
}

/* app-login {
  margin-top: 20%;
} */

.wrapper {
  margin-top: 20%;
}
