body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  display: block;
  max-width: 300px;
  width: 50%;
  background-color: whitesmoke;
  padding: 48px;
  border-radius: 16px;
  margin-top: 20%;
  margin: auto;

  /* mat-form-field {
    width: 100%;
  } */
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  /* margin-top: 16px !important; */
  display: flex;
  justify-content: right;
}

.text-center {
  text-align: center;
}

.global-container {
  padding: 15%;
  opacity: 80%;
}

body {
  background-image: url("../../../assets/images/us-mail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
