html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  display: block;
  max-width: 300px;
  width: 50%;
  /* background: #04ecd9d8; */
  background-color: whitesmoke;
  padding: 48px;
  border-radius: 16px;
  margin-top: 20%;
  margin: auto;

  mat-form-field {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
  display: flex;
  justify-content: right;
}

.text-center {
  text-align: center;
}

.global-container {
  margin-top: 20px;
  padding: 15%;
  opacity: 80%;
}
