<div class="container">
  <div class="page-title">Mail Campaigns</div>
  <mat-form-field
    appearance="outline"
    style="
      width: 290px;
      height: 30px;

      border: 1px solid #f3f5f9;
      border-radius: 20px;
    "
  >
    <input
      matInput
      (keyup)="applyFilter($event)"
      #input
      placeholder="Search"
      style="margin-bottom: 3px"
    />
    <mat-icon mat-icon-button matPrefix> search </mat-icon>
  </mat-form-field>
  <div class="demo-button-container" style="margin: 0 auto">
    <button mat-raised-button (click)="openCompaignDialog()">
      <img src="../../../../assets/images/new-campaign.png" alt="" />
      New
    </button>
  </div>

  <div class="filters">
    <mat-form-field appearance="outline" style="width: 203px">
      <mat-label>Campaign Type</mat-label>
      <mat-select
        formControlName="campaignType"
        (selectionChange)="onChangeType($event)"
      >
        <mat-option value="Mailer">Mailer</mat-option>
        <mat-option value="Postcard">Postcard</mat-option>
        <mat-option value="Magazine">Magazine</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 203px">
      <mat-label>Campaign Status</mat-label>
      <mat-select
        formControlName="campaignStatus"
        (selectionChange)="onChangeStatus($event)"
      >
        <mat-option value="Active">Active</mat-option>
        <mat-option value="Suspended">suspended</mat-option>
        <mat-option value="Cancelled">cancelled</mat-option>
        <mat-option value="Completed">completed</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 203px">
      <mat-label>Owner</mat-label>
      <mat-select formControlName="ownerName"> </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 203px">
      <mat-label>Date</mat-label>
      <mat-select formControlName="campaignStatus">
        <mat-option value="">Past 30 days</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <section class="table-container" style="margin-top: 40px">
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <!-- Campaign Name Column -->
        <ng-container matColumnDef="campaignName" class="column-header">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by campaign Name"
          >
            Mail Campaign Name
          </th>
          <td mat-cell *matCellDef="let row">
            <br />
            <span style="color: black; font-size: large">{{
              "00" + row.campaignNumber
            }}</span>
            <br />
            <span style="color: gray">{{ row.accountName }}</span>

            <br />
            <span style="color: gray">{{ row.contactName }}</span>
          </td>
        </ng-container>

        <!-- Campaign Status Column -->
        <ng-container matColumnDef="campaignStatus" class="column-header">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td class="campaign-status" mat-cell *matCellDef="let row">
            <span *ngIf="row.campaignStatus == 'Active'">
              <span class="active">
                {{ row.campaignStatus }}
              </span>
            </span>
            <span *ngIf="row.campaignStatus == 'Suspended'">
              <span class="suspended">
                {{ row.campaignStatus }}
              </span>
            </span>
            <span *ngIf="row.campaignStatus == 'Cancelled'">
              <span class="cancelled">
                {{ row.campaignStatus }}
              </span>
            </span>
            <span *ngIf="row.campaignStatus == 'Completed'">
              <span class="completed">
                {{ row.campaignStatus }}
              </span>
            </span>
          </td>
        </ng-container>

        <!-- Campaign Type  Column -->
        <ng-container matColumnDef="campaignType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Campaign Type
          </th>
          <td mat-cell *matCellDef="let row">
            <span style="font-size: large"> {{ row.campaignType }}</span>
          </td>
        </ng-container>

        <!-- Drops Number by campaign -->
        <ng-container matColumnDef="totalDropsNumber" class="column-header">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Drops Count</th>
          <td mat-cell *matCellDef="let row">
            <span style="font-size: large; text-align: center">
              {{ row.totalDropsNumber }}</span
            >
          </td>
        </ng-container>

        <!-- Campaign Date Column -->
        <ng-container matColumnDef="campaignDate" class="column-header">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedAt</th>
          <td mat-cell *matCellDef="let row">
            <span style="font-size: large">{{ row.createdAt }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action" class="column-header">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editCampaign(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              style="color: coral"
              (click)="deleteCampaign(row.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (dblclick)="getCampaignDetail(row)"
          style="cursor: pointer"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="3" style="text-align: center">
            No data
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>
