<app-nav-bar></app-nav-bar>

<!-- <div class="form-container mat-elevation-z5 text-center">
  <h1>Update Profile</h1>
  <div class="profile-image">
    <img width="120" height="120" class="margin-top mat-elevation-z1" />
    <button mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="firstName"
          placeholder="First Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="displayName"
          placeholder="Display Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="phone"
          placeholder="Phone"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="address"
        placeholder="Address"
      />
    </mat-form-field>

    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Save
    </button>
  </form>
</div> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="form-container mat-elevation-z5 text-center">
      <h1>User Profile</h1>
      <div>
        <img width="150" height="150" [src]="" alt="" />
      </div>
    </div>
  </body>
</html>
