/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.borderless-dialog {
  padding: 0px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 30px;
  background-color: whitesmoke;
}

.custom-modalbox {
  border-radius: 16px;
}

.mat-dialog-container {
  background-color: whitesmoke;
  border-radius: 30px;
}
