<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="global-container">
      <div class="form-container mat-elevation-z5">
        <h1>Register a new user</h1>
        <form [formGroup]="registerUserForm" (ngSubmit)="submit()">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" />

            <mat-error *ngIf="email?.errors?.['email']">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Email address"
              formControlName="email"
            />
            <mat-error *ngIf="email?.errors?.['required']">
              Email address is required
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="password?.errors?.['required']">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder=" Confirm Password"
              formControlName="confirmPassword"
            />
            <mat-error *ngIf="password?.errors?.['required']">
              Confirm Password is required
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="registerUserForm.errors?.['passwordsDontMatch']">
            Passwords should match
          </mat-error>
          <div class="margin-top">
            <button type="submit" mat-raised-button color="basic">Save</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html> -->
<div class="wrapper">
  <div class="form-container mat-elevation-z5">
    <div class="margin-left">
      <h1 mat-dialog-title>Add new user</h1>
      <div mat-dialog-content style="margin-top: 20px">
        <form [formGroup]="registerUserForm" (ngSubmit)="submit()">
          <mat-form-field style="width: 300px">
            <input matInput placeholder="Full Name" formControlName="name" />
          </mat-form-field>
          <mat-form-field style="width: 300px">
            <input matInput placeholder="Email" formControlName="name" />
          </mat-form-field>
          <mat-form-field style="width: 300px">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="name"
            />
          </mat-form-field>
          <mat-form-field style="width: 300px">
            <input
              matInput
              placeholder="Confirm Password"
              formControlName="name"
            />
          </mat-form-field>
          <div class="checkbox">
            <mat-checkbox formControlName="isAdmin">Admin</mat-checkbox>
          </div>
          <div class="margin-top">
            <button type="submit" mat-raised-button color="primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
