<div class="wrapper">
  <div class="form-container mat-elevation-z5">
    <div class="margin-left">
      <h1 mat-dialog-title>Add new user</h1>
      <div mat-dialog-content style="margin-top: 20px">
        <form [formGroup]="registerUserForm" (ngSubmit)="submit()">
          <mat-form-field style="width: 300px">
            <input
              matInput
              placeholder="First Name"
              formControlName="firstName"
            />
          </mat-form-field>
          <mat-form-field style="width: 300px">
            <input
              matInput
              placeholder="Last Name"
              formControlName="lastName"
            />
          </mat-form-field>
          <mat-form-field style="width: 300px">
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
          <mat-form-field style="width: 300px">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
          <mat-form-field style="width: 300px">
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />
          </mat-form-field>
          <div class="checkbox">
            <mat-checkbox formControlName="isAdmin">Admin</mat-checkbox>
          </div>
          <mat-error *ngIf="registerUserForm.errors?.['passwordsDontMatch']">
            Passwords should match
          </mat-error>
          <div class="margin-top">
            <button type="submit" mat-raised-button color="primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
