<div class="container">
  <h2>Drop {{ editData.dropNumber }} : {{ dropDate }}</h2>
  <h4>Contact Name : {{ editData.accountName }}</h4>
  <h4>Company Name : {{ editData.contactName }}</h4>

  <mat-divider></mat-divider>
  <form [formGroup]="dropDetail">
    <div class="main-form-div">
      <div class="part-one" style="margin-right: 40px">
        <!----------------------------------------------------->
        <!-- <mat-form-field appearance="outline">
          <mat-label>Drop Name</mat-label>
          <input matInput placeholder="Drop Name" formControlName="dropName" />
        </mat-form-field> -->
        <!------------------------------------------------------>
        <mat-form-field appearance="outline">
          <mat-label>Print Order ID</mat-label>
          <input
            matInput
            placeholder="Print Order ID"
            formControlName="printOrderID"
          />
        </mat-form-field>
        <!------------------------------------------------------>
        <mat-form-field appearance="outline">
          <mat-label>Campaign Type</mat-label>
          <mat-select formControlName="campaignType">
            <mat-option value="mailer">Mailer</mat-option>
            <mat-option value="postcard">Postcard</mat-option>
            <mat-option value="magazine">Magazine</mat-option>
          </mat-select>
        </mat-form-field>
        <!------------------------------------------------------>
        <mat-form-field appearance="outline">
          <mat-label>Campaign Status</mat-label>
          <mat-select formControlName="campaignStatus">
            <mat-option value="active">Active</mat-option>
            <mat-option value="suspended">suspended</mat-option>
            <mat-option value="cancelled">cancelled</mat-option>
            <mat-option value="completed">completed</mat-option>
          </mat-select>
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-label>Choose a date </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Drop Date"
            formControlName="dropDate"
          />

          <mat-datepicker #picker> </mat-datepicker>
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-label>Choose a date </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Seeded Received"
            formControlName="dropDate"
          />

          <mat-datepicker #picker> </mat-datepicker>
        </mat-form-field>
        <!-- ############################################################################################################ -->
      </div>
      <div class="part-two">
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Drop Number</mat-label>
          <input
            matInput
            placeholder="Drop Number"
            formControlName="dropNumber"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Drop Volume</mat-label>
          <input
            matInput
            type="number"
            placeholder="Drop Volume"
            formControlName="dropVolume"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Mailer Campaign Name</mat-label>
          <input
            matInput
            placeholder="Mailer Campaign Name"
            formControlName="campaignName"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Mailer Size</mat-label>
          <input
            matInput
            placeholder="Mailer Size"
            formControlName="mailerSize"
          />
        </mat-form-field>
        <!--------------------------------------------------  -->
        <div class="checkbox" style="display: inline-block">
          <p>
            <mat-checkbox
              formControlName="isDropCompleted"
              [disableRipple]="true"
            >
              Drop Completed</mat-checkbox
            >
          </p>
          <p>
            <mat-checkbox formControlName="isLastDrop" [disableRipple]="true"
              >Is Last Drop</mat-checkbox
            >
          </p>
        </div>
        <!--------------------------------------------------  -->
        <mat-form-field appearance="outline">
          <mat-label>Notes & Attachments </mat-label>
          <button
            mat-icon-button
            color="primary"
            style="position: absolute; right: 0; bottom: 19%"
          >
            <mat-icon matSuffix>upload</mat-icon>
          </button>
          <input
            matInput
            placeholder="Notes & Attachments"
            formControlName="attachments"
          />
        </mat-form-field>
      </div>
      <!-- ############################################################################################################ -->
      <div>
        <app-file-upload-library></app-file-upload-library>
      </div>
      <!-- ############################################################################################################ -->
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <button
      class="close-button"
      mat-raised-button
      color="warm"
      mat-dialog-close
    >
      Close
    </button>
  </div>
</div>
