<div class="form-container mat-elevation-z5">
  <h1 mat-dialog-title>Drop Detail</h1>
  <div class="mat-dialog-content">
    <form [formGroup]="dropForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Campaign</mat-label>
        <input
          type="text"
          placeholder="Pick one campaign"
          aria-label="Campaign"
          matInput
          formControlName="campaignName"
          [matAutocomplete]="auto"
          readonly="true"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- -------------------------------------------- -->
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Drop Date"
          formControlName="dropDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker> </mat-datepicker>
      </mat-form-field>
      <!-- ------------------------------------ -->
      <mat-form-field appearance="outline">
        <mat-label>Drop Number</mat-label>
        <input
          matInput
          type="number"
          placeholder="First Drop Volume"
          formControlName="dropNumber"
        />
      </mat-form-field>
      <!-- ------------------------ -->
      <mat-form-field appearance="outline">
        <mat-label>Drop Volume</mat-label>
        <input
          matInput
          type="number"
          placeholder="Drop Volume"
          formControlName="dropVolume"
        />
      </mat-form-field>
      <!-- ------------------------ -->
      <div class="checkbox">
        <p>
          <mat-checkbox
            formControlName="isDropCompleted"
            [checked]="this.editMode.isDropCompleted"
            [disableRipple]="true"
            >Is Drop Completed</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox
            formControlName="isLastDrop"
            [checked]="this.editMode.isLastDrop"
            [disableRipple]="true"
            >Is Last Drop</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox
            formControlName="isSeededReceived"
            [checked]="this.editMode.isSeededReceived"
            [disableRipple]="true"
            >Is Seeded Received</mat-checkbox
          >
        </p>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="warm"
      mat-dialog-close
      style="background-color: coral"
    >
      Close
    </button>
  </div>
</div>
