mat-form-field {
  width: 100%;
  cursor: not-allowed;
  pointer-events: none;
}
.form-container {
  display: block;
  background-color: whitesmoke;
  padding: 48px;
  border-radius: 16px;
  margin-top: 20%;
  margin: auto;
  width: 85%;
  height: 80%;
}
